workflow_reportes_mensuales.json
{
  "name": "Automatización Reportes Mensuales MKT",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [240, 300],
      "webhookId": "reportes-mkt-trigger",
      "parameters": {
        "formTitle": "Generar Reportes Mensuales",
        "formDescription": "Ingresa los meses para generar el nuevo tab y duplicar las PPTs",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Mes Nuevo",
              "placeholder": "Abril 2026",
              "requiredField": true
            },
            {
              "fieldLabel": "Mes Anterior",
              "placeholder": "Marzo 2026",
              "requiredField": true
            }
          ]
        },
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "var-mes-nuevo",
              "name": "mes_nuevo",
              "value": "={{ $json['Mes Nuevo'] }}",
              "type": "string"
            },
            {
              "id": "var-mes-anterior",
              "name": "mes_anterior",
              "value": "={{ $json['Mes Anterior'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Leer Config Clientes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 200],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_CON_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Config Clientes",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REEMPLAZAR_CON_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Leer Mes Anterior",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [680, 420],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_CON_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Set Variables').first().json.mes_anterior }}",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REEMPLAZAR_CON_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Merge Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Lee Config Clientes y el tab del mes anterior\n// y los une por nombre de cliente\n\nconst configItems = $('Leer Config Clientes').all();\nconst prevMonthItems = $('Leer Mes Anterior').all();\n\n// Construir mapa: nombre cliente → config\nconst configMap = {};\nfor (const item of configItems) {\n  const cliente = (item.json['Cliente'] || '').trim();\n  if (cliente) {\n    configMap[cliente] = item.json;\n  }\n}\n\n// Unir con datos del mes anterior\nconst resultado = [];\nfor (const item of prevMonthItems) {\n  const cliente = (item.json['Clientes'] || '').trim();\n  if (!cliente) continue;\n\n  const cfg = configMap[cliente] || {};\n\n  resultado.push({\n    json: {\n      cliente:            cliente,\n      link_ppt_anterior:  item.json['Link ppt Mes'] || '',\n      folder_id:          cfg['Folder ID Drive'] || '',\n      servicios:          cfg['Servicios'] || '',\n      periodo:            cfg['Periodo Comparación'] || item.json['Periodo para comparar'] || ''\n    }\n  });\n}\n\nreturn resultado;"
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Crear Tab Nuevo Mes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1140, 300],
      "parameters": {
        "resource": "sheet",
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_CON_SPREADSHEET_ID",
          "mode": "id"
        },
        "title": "={{ $('Set Variables').first().json.mes_nuevo }}"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REEMPLAZAR_CON_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Loop Clientes",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1360, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "Extraer File ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1580, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extrae el file ID del link de Google Drive o Google Slides\n// Funciona con ambos formatos:\n//   https://drive.google.com/file/d/FILE_ID/view\n//   https://docs.google.com/presentation/d/FILE_ID/edit\n\nconst url = $input.item.json.link_ppt_anterior || '';\nconst match = url.match(/\\/d\\/([a-zA-Z0-9-_]+)/);\nconst fileId = match ? match[1] : null;\n\n// Construir nombre nuevo reemplazando el mes\nconst mesAnterior = $('Set Variables').first().json.mes_anterior;\nconst mesNuevo = $('Set Variables').first().json.mes_nuevo;\nconst nombreArchivo = url; // En el sheet, la celda puede tener el nombre mostrado\n// Si el link es una URL, el nombre lo sacaremos de la respuesta de Drive\n// Aquí guardamos el mes para el rename\n\nreturn {\n  json: {\n    ...$input.item.json,\n    file_id:    fileId,\n    tiene_link: fileId !== null,\n    mes_anterior: mesAnterior,\n    mes_nuevo:    mesNuevo\n  }\n};"
      }
    },
    {
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Tiene Link?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1800, 300],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-tiene-link",
              "leftValue": "={{ $json.tiene_link }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Copiar PPT Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2020, 180],
      "parameters": {
        "resource": "file",
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "name": "={{ $json.nombre_original ? $json.nombre_original.replace($json.mes_anterior, $json.mes_nuevo) : 'Reporte - ' + $json.mes_nuevo }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REEMPLAZAR_CON_CREDENTIAL_ID_DRIVE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Construir Fila",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Construye la fila para el nuevo tab del Sheet\n// Recibe items desde:\n//   - Copiar PPT Drive (tiene_link=true): $json.webViewLink disponible\n//   - Tiene Link? rama false (tiene_link=false): sin webViewLink\n\nconst item = $input.item.json;\n\n// El webViewLink viene del nodo Google Drive si se copió el archivo\nconst nuevoPptLink = item.webViewLink || '';\n\n// Parsear servicios\nconst servicios = (item.servicios || '').split(',').map(s => s.trim().toUpperCase());\n\nconst tieneSSEO   = servicios.includes('SEO');\nconst tienePAID  = servicios.includes('PAID');\nconst tieneEMAIL = servicios.includes('EMAIL');\nconst tieneREDES = servicios.includes('REDES');\n\nreturn {\n  json: {\n    'Clientes':                       item.cliente || '',\n    'Fecha Entrega Reporte [Interna]': '',\n    'Fecha Presentación a cliente':    '',\n    'Link ppt Mes':                    nuevoPptLink,\n    'Periodo para comparar':           item.periodo || '',\n    'Fecha de Activación Especial':    '',\n    'Estado SEO':    tieneSEO   ? 'Pendiente SEO'   : '',\n    'Estado PAID':   tienePAID  ? 'Pendiente PAID'  : '',\n    'Estado EMAIL':  tieneEMAIL ? 'Pendiente EMAIL' : '',\n    'Estado REDES':  tieneREDES ? 'Pendiente REDES' : '',\n    'Revisado por Mau':    false,\n    'Revisado por Sol':    false,\n    'Revisado por Glenda': false,\n    'Revisado por Lara':   false,\n    'Revisado por Cris':   false,\n    'Revisado por Meli':   false,\n    'Presentado': false,\n    'Enviado':    false,\n    'Notas':      ''\n  }\n};"
      }
    },
    {
      "id": "a1b2c3d4-0012-0012-0012-000000000012",
      "name": "Escribir Fila Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2460, 300],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_CON_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Set Variables').first().json.mes_nuevo }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REEMPLAZAR_CON_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0013-0013-0013-000000000013",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1580, 120],
      "parameters": {}
    }
  ],
  "connections": {
    "Trigger Manual": {
      "main": [
        [{ "node": "Set Variables", "type": "main", "index": 0 }]
      ]
    },
    "Set Variables": {
      "main": [
        [
          { "node": "Leer Config Clientes", "type": "main", "index": 0 },
          { "node": "Leer Mes Anterior", "type": "main", "index": 0 }
        ]
      ]
    },
    "Leer Config Clientes": {
      "main": [
        [{ "node": "Merge Datos", "type": "main", "index": 0 }]
      ]
    },
    "Leer Mes Anterior": {
      "main": [
        [{ "node": "Merge Datos", "type": "main", "index": 0 }]
      ]
    },
    "Merge Datos": {
      "main": [
        [{ "node": "Crear Tab Nuevo Mes", "type": "main", "index": 0 }]
      ]
    },
    "Crear Tab Nuevo Mes": {
      "main": [
        [{ "node": "Loop Clientes", "type": "main", "index": 0 }]
      ]
    },
    "Loop Clientes": {
      "main": [
        [{ "node": "Extraer File ID", "type": "main", "index": 0 }],
        [{ "node": "Fin", "type": "main", "index": 0 }]
      ]
    },
    "Extraer File ID": {
      "main": [
        [{ "node": "Tiene Link?", "type": "main", "index": 0 }]
      ]
    },
    "Tiene Link?": {
      "main": [
        [{ "node": "Copiar PPT Drive", "type": "main", "index": 0 }],
        [{ "node": "Construir Fila", "type": "main", "index": 0 }]
      ]
    },
    "Copiar PPT Drive": {
      "main": [
        [{ "node": "Construir Fila", "type": "main", "index": 0 }]
      ]
    },
    "Construir Fila": {
      "main": [
        [{ "node": "Escribir Fila Sheet", "type": "main", "index": 0 }]
      ]
    },
    "Escribir Fila Sheet": {
      "main": [
        [{ "node": "Loop Clientes", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "a1b2c3d4-ffff-ffff-ffff-000000000000",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "reportes-mensuales-mkt-001",
  "tags": [
    { "name": "marketing", "createdAt": "2026-04-09" },
    { "name": "reportes", "createdAt": "2026-04-09" }
  ]
}
